@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffd401;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #183153;
}

.Btn {
    position: fixed;
    top: 20px; /* ajustez la valeur selon votre préférence */
    left: 20px; /* ajustez la valeur selon votre préférence */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    transition-duration: 0.3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
    width: 100%;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: white;
}

/* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: 0.3s;
}

/* hover effect on button width */
.Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: 0.3s;
}

.Btn:hover .sign {
    width: 30%;
    transition-duration: 0.3s;
    padding-left: 20px;
}

/* hover effect button's text */
.Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: 0.3s;
    padding-right: 10px;
}

/* button click effect*/
.Btn:active {
    transform: translate(2px , 2px);
}

.explore {
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  background-color: rgb(161, 255, 20);
  border-radius: 30px;
  color: rgb(19, 19, 19);
  font-weight: 600;
  border: none;
  position: relative;
  cursor: pointer;
  transition-duration: .2s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
  padding-left: 8px;
  transition-duration: .5s;
}

.svgIcon {
  height: 25px;
  transition-duration: 1.5s;
}

.bell path {
  fill: rgb(19, 19, 19);
}

.explore:hover {
  background-color: rgb(192, 255, 20);
  transition-duration: .5s;
}

.explore:active {
  transform: scale(0.97);
  transition-duration: .2s;
}

.explore:hover .svgIcon {
  transform: rotate(250deg);
  transition-duration: 1.5s;
}



/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


.send-message-button {
  position: relative;
  top: 20px; /* ajustez la position verticalement selon vos besoins */
  left: 20px; /* ajustez la position horizontalement selon vos besoins */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #183153;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
  margin-left: 375px;
}

.send-message-button:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #ffd401;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.send-message-button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.send-message-button span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 18px 25px;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.send-message-button:hover span {
  color: #183153;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}


.orange {
  color: #ffd401;
}

.form-cont {
  max-width: 700px;
  margin: 30px;
  background-color: #001925;
  padding: 30px;
  border-left: 5px solid #ffd401;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}

.heading {
  display: block;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.form-cont .form .input {
  color: #87a4b6;
  width: 100%;
  background-color: #002733;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
}

.form-cont .form .input:focus {
  border-left: 5px solid #ffd401;
}

.form-cont .form .textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #013747;
  color: #ffd401;
  font-weight: bold;
  resize: none;
  max-height: 150px;
  margin-bottom: 20px;
  border-left: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-cont .form .textarea:focus {
  border-left: 5px solid #ffd401;
}

.form-cont .form .button-cont {
  display: flex;
  gap: 10px;
}

.form-cont .form .button-cont .send-button {
  flex-basis: 70%;
  background: #ffd401;
  padding: 10px;
  color: #001925;
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-cont .form .button-cont .send-button:hover {
  background: transparent;
  border: 1px solid #ffd401;
  color: #ffd401;
}

.form-cont .form .button-cont .reset-button-cont {
  filter: drop-shadow(1px 1px 0px #ffd401);
  flex-basis: 30%;
}

.form-cont .form .button-cont .reset-button-cont .reset-button {
  position: relative;
  text-align: center;
  padding: 10px;
  color: #ffd401;
  font-weight: bold;
  background: #001925;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
}

.form-cont .form .button-cont .reset-button-cont .reset-button:hover {
  background: #ffd401;
  color: #001925;
}



.cont {
  display: flex;
}



.image-cont {
  flex: none; /* L'image n'occupera que l'espace nécessaire */
  margin-left: 20px; 
  margin-top: 30px;/* Ajoutez un espace entre le formulaire et l'image */
  width: 500px; /* Définissez la largeur de l'image en pixels */
  height: 500px; /* Définissez la hauteur de l'image en pixels */
  
  margin-right: 20px;
}

.image {
  max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la taille du conteneur */
  height: auto; /* Ajustez la hauteur en conséquence */
  
}

.description-wrap {
  word-wrap: break-word;
}

.ocard{
  min-height: 100px;
}
